.soundlabel {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    border-radius: 5px;
    outline: none;
    background: var(--emojigreen);
    border: none;
    margin: 20px;
    padding: 7px 7px;
    cursor: pointer;
}

select {
    color: white;
    background: var(--bg);
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.para {
    font-size: 20px;
}
